.nav-container {
  background-color: #606782;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.nav {
  height: 52px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.rect {
  padding: 20px 36px 0 5px;
}

.nav-link {
  color: white;
  margin: 18px;
  padding: 9px;
  font-weight: 600;
}

.nav-link:hover {
  color: rgb(212, 212, 212);
}

.title {
  color: white;
  font-style: italic;
  /* padding-right: 36px; */
  font-family: Arial black;
  text-transform: uppercase;
  font-size: x-large;
}

.title-period {
  color: #43FE11;
}

.home {
  padding-top: 9px;
}