html {
  scroll-behavior: smooth;
  margin: 0;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

.App {
  text-align: center;
  background-color: #8892AE;
}

.meditation {
  width: 100%;
  padding-top: 54px;
}

.meditation-corporate {
  width: 100%;
}

.book {
  background-color: #BDC3CF;
  color: white;
  cursor: pointer;
  padding: 45px;
  text-transform: capitalize;
  transition-duration: .3s;
}

.book:hover {
  background-color: white;
  color: #43FE11;
}

.clients {
  background-color: white;
}

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 72px;
  color: #3A4A61;
}

.about-title {
  width: 35%;
}

.about-blurb {
  width: 60%;
  padding-bottom: 36px;
}

.about-meditation {
  background-color: white;
  color: #3A4A61;
  padding: 36px;
}

.mind {
  width: 27%;
  padding-top: 54px;
}
